nav {
    width: 100%;
    margin: 0;
}

nav ul {
    background-color: #eee;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

ul.topnav li {
    list-style: none;
    float: left;
}

ul.topnav li.topnav-right {
    list-style: none;
    float: right;
}

ul.topnav li.topnav-left {
    list-style: none;
    float: left;
}

ul.topnav li a {
    display: block;
    text-decoration: none;
    min-height: 16px;
    padding: 14px;
    text-transform: none;
    color: #666;
}

ul.topnav li a:hover {
    background-color: blue;
    color: #fff;
}

/***************************************************/

* {
    margin: 0px;
    padding: 0px;
}

.cards {
    display: inline-block;
    width: 15%;
    background-color: brown;
    margin: 40px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px black;
}

.image img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.title {
    text-align: center;
}

.describution {
    text-align: center;
}

/* Set a style for all buttons */

.lastFive button {
    margin-top: 30px;
    background-color: white;
    margin-bottom: 30px;
    border: 1px solid red;
    padding: 20px;
    border-radius: 5px;
    width: 20%;
    font-size: 25px;
}

.lastFive button:hover {
    background-color: red;
    color: white;
    transition: .5s;
}

.cards input {
    margin-top: 30px;
    background-color: white;
    margin-bottom: 30px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
}

input:hover {
    background-color: black;
    color: white;
    transition: .5s;
}

/* On mouse-over, add a deeper shadow */

/* Add some padding inside the card container */

/***************************************************/

.container {
    padding: 16px;
    width: 300px;
    height: 200px;
    margin-right: auto;
    margin-left: auto;
}

form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.cassandraImage img {
    height: 400px;
    width: 400px;
}

.fivevisited h1 {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.fivevisited .items {
    font-size: 30px;
    align: center;
    
}